# ===== Backend (Spring Boot) =====
/backend/target/
*.log
/.classpath
/.project
/.settings/

# ===== Frontend (Angular) =====
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/

# ===== Common =====
.DS_Store
.vscode/
.idea/

