.tabs {
     margin-left: 20px;
      margin-top: 20px;
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}

.tabs button {
  padding: 10px 18px;
  border: none;
  border-radius: 20px;
  background: #f1f5f9;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.tabs button.active {
  background: #111827;
  color: white;
}

/* .tabs button:hover {
  background: #e5e7eb;
} */

/* Whishlist css */

.property-grid {
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

.property-card {
  background: white;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.property-card:hover {
  transform: translateY(-6px);
}

.property-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.property-card .info {
  padding: 14px;
}

.property-card h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.property-card p {
  margin: 4px 0;
  color: #6b7280;
  font-size: 14px;
}

/* applications css */

.application-card {
    
  background: #ffffff;
  border-left: 4px solid #2563eb;
  padding: 16px;
  margin-bottom: 14px;
  border-radius: 10px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.05);
}

.application-card h4 {
  margin: 0;
  font-size: 26px;
  font-weight: 600;
}

.application-card p {
  margin: 4px 0;
  font-size: 14px;
  color: #374151;
}

p {
  color: #6b7280;
  font-size: 14px;
}

.approved { color: green; font-weight: 600; }
.rejected { color: red; font-weight: 600; }
.pending { color: orange; font-weight: 600; }

.delete-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #dc2626;
}

