
nav {
  background: #6b64f9;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 50;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 16px;
}

.nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 95px;
}

/* Updated Smaller Logo */
.logo-icon {
  width: 52px;
  height: 52px;
  margin-right: 8px;
  stroke: white;
}

.brand-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.brand-text {
  font-size: 30px;
  font-weight: bold;
}

/* Buttons */
.nav-links {
  display: flex;
  gap: 20px;
  font-size: 20px;
}

.nav-links button {
  background: transparent;
  border: none;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

.nav-links button:hover {
  background: rgba(255,255,255,0.15);
}

/* Login Button Special Style */
.login-btn {
  /* background: #white; */
  color: #4f46e5;
  font-weight: bold;
  transition: 0.3s;
  display: flex;                /* place buttons side by side */
  align-items: center;
  gap: 8px;
}

.login-btn:hover {
  background: #4f46e5;
}

/* Mobile hide */
@media (max-width: 868px) {
  .nav-links {
    display: none;
  }
}

/* Dropdown Container */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background: none;
  border: none;
  cursor: pointer;
  
  padding: 6px 12px;
  font-size: 20px;
  color: #333;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 12px;
  right: 1;
  padding: 5px;
  width: 100%;
  max-width: 420px;
  background-color: white;
  min-width: 210px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size: small;
  display: block;

  padding: 10px 30px;
  text-decoration: none;
  color: #333;
}

.dropdown-content a:hover {
  background-color: #ece8ec;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.account-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #374151;
  font-size: 18px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  text-decoration: none;
}

.icon-btn:hover {
  background-color: #2563eb;
  color: white;
  transform: scale(1.1);
}

/* Logout special color */
.icon-btn.logout:hover {
  background-color: #dc2626;
}
.profile-icon {
  width: 26px;
  height: 26px;
  object-fit: contain;
}
