
<div class="min-h-screen bg-slate-50 font-sans text-gray-800">


  <!-- Home View -->
  <div class="animate-fade-in">
    
    <!-- Search & Hero -->
   <div class="hero-section">
  <div class="hero-container">

    <h1 class="hero-title">
      Find your perfect home today.
    </h1>

    <p class="hero-subtitle">
      Browse the highest quality listings, apply online, and schedule tours quickly and easily.
    </p>


         <!-- Search Filters -->
         <div class="filter-box">
  <input type="text" [(ngModel)]="searchTerm" (input)="applyFilters()" placeholder="City, Zip, Address" class="input"/>

  <select [(ngModel)]="typeFilter" (change)="applyFilters()" class="input">
    <option value="All">All Types</option>
    <option value="Apartment">Apartment</option>
    <option value="House">House</option>
    <option value="Villa">Villa</option>
    <option value="Studio">Studio</option>
  </select>

  <select [(ngModel)]="priceSort" (change)="applyFilters()" class="input">
    <option value="default">Sort by Price</option>
    <option value="asc">Lowest to Highest</option>
    <option value="desc">Highest to Lowest</option>
  </select>

  <button class="button-primary">Search</button>
</div>

      </div> 
    </div>

    <main class="listing-container" >
  <div class="listing-header">
    <h2 class="listing-title">Latest Listings</h2>
    <span class="listing-count">{{ filteredProperties.length }} properties found</span>
  </div>

  <div class="listing-grid">
    <app-property 
      *ngFor="let prop of filteredProperties" 
      [property]="prop"
      (viewDetails)="openDetails(prop)">
    </app-property>

    <div *ngIf="filteredProperties.length === 0" class="listing-empty">
      <h3>No properties found</h3>
      <p>Try adjusting your search criteria.</p>
    </div>

  </div>
</main>

  </div>
     
  </div>

